<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
 Sports connect is a sports based social networking platform. You can join a game, create your own games or even a hangout to watch sports together. An easy to use medium which lets you follow others like minded sports enthusiats.
</p>