<% provide(:title, 'Home') %>
<header class="intro">
    <div class="intro-body">
        <div class="container google-map-custom">
            <div class="row">
                <div class="col-md-12">
                  <%= render 'shared/google_map' %>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
                </div>
            </div>
        </div>
    </div>
</header>
