<div class="show_sports_info">
  <aside class="span4">
    <section>
		<p>
  		  <strong>Sport:</strong> 
  		    <%= @game.sport %>
		</p>
		<p>
  		  <strong>Description:</strong> 
  		    <%= @game.description %>
		</p>
		<p>
  		  <strong>Game time:</strong> 
  		    <%= @game.game_time %>
		</p>
    <p>
    <!--
    <div id="show_game_form">
         
    </div>    
    -->  
    </p>   
    </section>
  </aside>
</div>